apiVersion: v1
kind: Pod
spec:
  serviceAccountName: jenkins
  containers:
    - name: jnlp
      image: image-registry.openshift-image-registry.svc:5000/openshift/custom-jenkins-agent-maven:latest
      args: ['$(JENKINS_SECRET)', '$(JENKINS_NAME)']
      tty: false
      resources:
        requests:
          cpu: 500m
          memory: 1024Mi
        limits:
          cpu: 500m
          memory: 1024Mi